{% extends 'base.html' %}


{% block content %}
    <h4 class="">En Patufet</h4>

    <p>En Patufet fou una revista infantil il·lustrada, escrita en català, publicada a Barcelona entre 1904 i 1938.</p>
    <p> Va tenir una gran popularitat, fins al
      punt que la paraula patufet es feia servir per a designar genèricament les revistes il·lustrades infantils,
      actualment anomenades còmics.</p>
    <p>Ha estat el setmanari en llengua catalana amb més tirada de la història, amb 65.000
      exemplars i 325.000 lectors setmanals.</p>

    <div class="border border-5 rounded p-5 text-center">
      <figure class="figure">
        <img src="{{ url_for('static', filename='portada-1.jpg') }}" class="figure-img img-fluid rounded">
        <figcaption class="figcaption fw-ligth text-center fs-5">Portada del primer número d'En Patufet, 3 de gener de
          1904</figcaption>

      </figure>
    </div>
{% endblock %}