{% extends 'base.html' %}


{% block content %}
    <div class="row">
      <div class="col border border-3 p-3 rounded rounded-5">
        <p class="text-center fs-5 fw-bolder lh-sm">En Patufet és una revista infantil setmanal per ensenyar a llegir i
          escriure en català
          als
          infants
        </p>
        <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="{{ url_for('static', filename='en-patufet.jpg') }}">
        </div>
      </div>
    </div>
    <h3 class="mt-5">Patufet, més enllà de la lectura</h3>
    <p>En el món complex d'avui és imprescindible
      treballar actituds que, des d'uns principis morals compartits, contribueixin a la convivència, al respecte
      dels drets de les persones i a l'assoliment d'unes condicions de vida dignes per a tothom.</p>
    <div class="row panel">
      <h5>Dimensió personal</h5>
      <div class="col">
        Actuar amb autonomia en la presa de decisions i assumir la responsabilitat
        dels propis actes
      </div>
      <div class="col">Desenvolupar habilitats per fer front als canvis i a les dificultats i per assolir
        un benestar personal.</div>
      <div class="col">Qüestionar-se i usar l'argumentació per superar prejudicis i consolidar el
        pensament propi.</div>
    </div>

    <div class="row panel">
      <h5>Dimensió interpersonal</h5>
      <div class="col">
        Mostrar actituds de respecte actiu envers les persones, les seves idees,
        opcions, creences i les cultures que les conformen.
      </div>
      <div class="col">Aplicar el diàleg com a eina d'entesa i participació en les relacions entre
        les persones.</div>
      <div class="col">Adoptar hàbits d'aprenentatge cooperatiu que promoguin el compromís
        personal i les actituds de convivència.</div>
    </div>

    <div class="row panel">
      <h5>Dimensió social</h5>
      <div class="col">
        Analitzar l'entorn amb criteris ètics per cercar solucions alternatives als
        problemes.
      </div>
      <div class="col">Mostrar actituds de servei i de compromís social, especialment davant de
        les situacions d'injustícia.</div>
    </div>
{% endblock %}