{% extends 'base.html' %}


{% block content %}
    <div class="card">
      <img src="images/fora-del-bou.png" class="card-img-top" alt="Festa patufet">
      <div class="card-body">
        <h5 class="card-title fw-bold">Celebrem el primer aniversari de la nostra revista</h5>
        <h6 class="card-subtitle mb-2 text-muted">31 d'octubre de 2023</h6>
        <p class="card-text">El proper dia 15 de desembre farà un any que varem editar el primer número de la nostra
          revista.</p>
        <p>Per celebrar-ho volem convidar a tots els nostres subscriptors a la festa Patufet que farem a Montjuic.</p>
        <a href="#" class="btn btn-primary">Veure</a>
      </div>
    </div>
{% endblock %}