{% extends 'base.html' %}


{% block content %}
    <table class="table">
      <tr>
        <th>Data</th>
        <th>Títol</th>
        <th>Portada</th>
        <th>Web</th>
        <th>Epub</th>
        <th>Pdf</th>
      </tr>
      <tr>
        <td>30/Oct/2023</td>
        <td>La barretina</td>
        <td><img src="{{ url_for('static', filename='patufet-barretina.webp') }}"></td>
        <td><a href="#"><i class="bi bi-file-text"></i></a></td>
        <td><a href="#"><i class="bi bi-book"></i></a></td>
        <td><a href="#"><i class="bi bi-file-earmark-pdf"></i></a></td>
      </tr>
      <tr>
        <td>23/Oct/2023</td>
        <td>La panxa del bou</td>
        <td><img src="{{ url_for('static', filename='panxa-del-bou.jpg') }}"></td>
        <td><a href="#"><i class="bi bi-file-text"></i></a></td>
        <td><a href="#"><i class="bi bi-book"></i></a></td>
        <td><a href="#"><i class="bi bi-file-earmark-pdf"></i></a></td>
      </tr>
    </table>
{% endblock %}