{% extends 'base.html' %}


{% block content %}
    <div class="p-2">

      <p>Per qualsevol dubte podeu contactar amb nosaltres a l'adreça de correu <a
          href="mailto:admin@patufet.cat?subject=Consulta">consulta@patufet.cat</a></p>
      <p class="text-center fs-2"><i class="bi bi-envelope"></i></p>

    </div>
    <div class="border border-5 rounded p-3">
      <h4 class="text-decoration-underline">Formulari de subscripció</h4>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Adreça de correu electrònic</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Mai compartirem la teva adreça de correu electrònic.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contrasenya</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Inscriu</button>
      </form>
    </div>
{% endblock %}